@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-secondary text-gray-100
}

a:hover {
  @apply text-accent
}

h3 {
  @apply text-accent text-xl
}

input {
  @apply bg-transparent border-accent border rounded
}

br {
  @apply border-primary border-b-0
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
